Repository bcgov/nr-sustainment-capstone-2024, pull requests merged in 2024-05, with the labels that each got.

#10 chore(ci): remove merge workflow
  .github/workflows/merge.yml
Labels: enhancement

#62 feat: Nmp 36 docker update backend
  backend/.dockerignore
  backend/Dockerfile
  backend/src/controllers/health-api-controller.ts
  backend/src/server.ts
  docker-compose.yml
Labels: Docker

#73 feat: [NMP-52] Feature** Frontend Displaying Database Values
  README.md
  docker-compose.yml
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Interface/DeveloperInterface.tsx
  frontend/src/components/FetchDevelopers.tsx
  frontend/src/components/HealthCheck.tsx
  frontend/src/main.tsx
  frontend/vite.config.ts
Labels: Docker

#86 chore(ci): Uncommented PR pipeline openshift cues
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
Labels: Github Actions

#91 fix: [BB] 90 fix pg module password error
  .env.template
  README.md
  backend/.env.template
  backend/.eslintrc.cjs
  backend/README.md
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/test/developers.test.ts
  backend/src/test/health.test.ts
  backend/src/test/testRequest.ts
  docker-compose.yml
Labels: Docker

#99 feat(ci): [NMP-98] Feat** docker-compose update
  .github/workflows/pr-open.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/.eslintrc.cjs
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HealthCheck.tsx
  frontend/src/tests/FetchDeveloper.test.tsx
  frontend/src/tests/HealthCheck.test.tsx
  frontend/src/tests/setupTests.js
  frontend/vite.config.ts
  frontend/vitest.config.ts
  package-lock.json
Labels: Docker, Github Actions

#111 chore(ci): adjust docker compose and deploy database to openshift
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  database/Dockerfile
  database/openshift.deploy.yml
  docker-compose.yml
Labels: Docker, Github Actions

#118 chore(ci): backend openshift deployment
  .github/workflows/.deploy.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  docker-compose.yml
Labels: Docker, Github Actions
