Repository bcgov/nr-sustainment-capstone-2024, pull requests merged in 2024-06, with the labels that each got.

#124 chore: [BB-123] chore** organized frontend directory
  frontend/src/App.tsx
  frontend/src/Views/FetchDevelopers.tsx
  frontend/src/Views/HealthCheck.tsx
  frontend/src/tests/FetchDeveloper.test.tsx
  frontend/src/tests/HealthCheck.test.tsx
Labels: Task

#130 fix(ci): Bb 129 fix hot reloading in frontendbackend
  docker-compose.yml
  frontend/Dockerfile
Labels: Docker

#162 chore(ci): troubleshoot backend
  .github/workflows/pr-validate.yml
  backend/Dockerfile
  backend/openshift.deploy.yml
  backend/src/db.ts
  charts/app/templates/frontend/templates/deployment.yaml
  docker-compose.yml
  frontend/openshift.deploy.yml
Labels: Docker, Github Actions

#172 fix(ci): labeler config
  .github/labeler.yml
  .github/labeller.yml
  .github/workflows/pr-labeller.yml
  .github/workflows/pr-validate.yml
Labels: Github Actions

#204 feat(ci): set up prod-like environment
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
Labels: Enhancement, Github Actions

#211 chore(ci): cleanup
  .github/workflows/.deploy.yml
  .github/workflows/scheduled.yml
Labels: Enhancement, Github Actions
